.task {
  font-size: 20px;
  cursor: text;
}

.header {
  border: none;
  font-size: 30px;
  font-weight: 800;
  margin: 10px;
}

.header:hover {
  border: 2px solid #888;
  cursor: pointer;
}

.header:mouseover {
  border: none;
  pointer-events: none;
}

.todoBox {
  height: 20px;
  margin: 10px;
  padding-left: 10px;
  cursor: pointer;
}

.due {
  border-left: 5px solid lightBlue;
}

.doing {
  border-left: 5px solid orange;
}

.done {
  border-left: 5px solid mediumseagreen;
  text-decoration: line-through;
}
