.task {
  font-size: 20px;
  margin: 10px;
  cursor: text;
}

.heading {
  font-size: 30px;
  font-weight: 800;
  margin: 10px;
}

.pointer {
  cursor: pointer;
}

.todoBox {
  min-width: 150px;
  height: 20px;
  margin: 10px;
  padding-left: 10px;
  cursor: pointer;
}

.due {
  border-left: 20px solid lightBlue;
}

.doing {
  border-left: 20px solid orange;
}

.done {
  border-left: 20px solid mediumseagreen;
  text-decoration: line-through;
}

.centre {
  margin: auto 0;
}
