.todoBox {
  height: 20px;
  margin: 10px;
  padding-left: 10px;
  cursor: pointer;
}

.todo {
  border-left: 5px solid lightBlue;
}

.done {
  border-left: 5px solid mediumseagreen;
  text-decoration: line-through;
}
